body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1::after {
    content: "|";
    animation: anim 1s infinite linear;
}

span {
    transition: 0.2s;
}

@keyframes anim {
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
