@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "allura";
  src: url(../Font/Allura-Regular.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../Font/Roboto-Light.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../Font/Poppins-Medium.ttf);
}
body {
  background: rgb(33, 32, 30);
  font-family: "roboto", serif;
  font-weight: 400;
}
body #icone {
  height: 30px;
  width: 30px;
}

header {
  background: url(../Images/Header/bg-slider-06.jpg) center/cover;
  height: 100vh;
  color: rgb(238, 238, 238);
  padding: 0 50px;
}
header nav {
  display: grid;
  grid-template-columns: 10% 82% 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12vh;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  header nav {
    grid-template-columns: 50% 10% 40%;
    grid-template-areas: "L V I";
  }
}
header nav span {
  font-family: "allura", cursive;
  color: rgb(166, 114, 69);
  font-weight: 100;
  color: rgb(238, 238, 238);
  font-weight: 700;
  font-size: 2.3rem;
}
header nav #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.7rem;
}
@media screen and (max-width: 680px) {
  header nav #title {
    display: none;
  }
}
header nav #icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.8rem;
  line-height: 13px;
  width: 100%;
}
@media screen and (max-width: 680px) {
  header nav #icone {
    grid-area: I;
  }
}
header nav #icone i {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav #icone i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 88vh;
}
header .header-container > div {
  margin-top: -150px;
  text-align: center;
}
header .header-container > div h2 {
  font-family: "allura", cursive;
  color: rgb(166, 114, 69);
  font-weight: 100;
  font-weight: 100;
  font-size: 3rem;
}
header .header-container > div h1 {
  font-family: "poppins", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.2rem;
  letter-spacing: 10px;
  margin-top: -28px;
}
header .header-container > div img {
  height: 30px;
  width: 30px;
  margin: 40px 0;
}
header .header-container > div p {
  letter-spacing: 6px;
  font-size: 0.75rem;
}

main #section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgb(238, 238, 238);
}
main #section1 .left-part {
  text-align: center;
  margin: 15px;
  border: 0.8px dashed rgb(166, 114, 69);
  padding: 30px 15px;
}
main #section1 .left-part h4 {
  font-family: "allura", cursive;
  color: rgb(166, 114, 69);
  font-weight: 100;
  font-size: 2rem;
  font-weight: 500;
}
main #section1 .left-part h3 {
  font-family: "poppins", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: -13px;
}
main #section1 .left-part #icone {
  margin: 30px 0;
}
main #section1 .left-part p {
  margin-bottom: 20px;
}
main #section1 .left-part h5 {
  font-size: 1rem;
  margin: 10px 0 3px;
  font-weight: 100;
  font-family: "poppins", serif;
}
main #section1 .left-part h6 {
  color: rgb(182, 182, 182);
  font-size: 0.7rem;
  text-transform: uppercase;
}
main #section1 .left-part #head {
  height: 70px;
  border-radius: 1500px;
}
main #section1 .right-part {
  width: 100%;
  height: 100%;
  background: url(../Images/Section1/store-01.jpg) center/cover;
}
main #menu {
  text-align: center;
  margin: 60px 0 80px;
  padding-bottom: 120px;
  position: relative;
}
main #menu h4 {
  font-family: "allura", cursive;
  color: rgb(166, 114, 69);
  font-weight: 100;
  font-size: 2rem;
  font-weight: 500;
}
main #menu #icone {
  margin: 40px 0 30px;
}
main #menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(238, 238, 238);
  width: 75%;
  margin: 0 auto 30px;
}
main #menu ul li {
  padding: 8px 0;
  border-bottom: 1px solid rgb(238, 238, 238);
}
main #menu .menu-container {
  background: rgb(238, 238, 238);
  border-top: 4px solid rgb(166, 114, 69);
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  padding: 15px 0;
  position: relative;
  z-index: 1000;
}
@media screen and (max-width: 680px) {
  main #menu .menu-container {
    display: block;
  }
}
main #menu .menu-container > div {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  margin: 0 20px;
  padding: 30px 0;
  border-bottom: 0.8px dashed black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main #menu .menu-container > div img {
  border-radius: 1500px;
  width: 100%;
  height: 100%;
}
main #menu .menu-container > div .txt {
  text-align: left;
  padding: 0 10px;
}
main #menu .menu-container > div .txt h5 {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 5px;
}
main #menu .menu-container > div span {
  color: rgb(166, 114, 69);
  font-weight: 600;
  font-size: 1.1rem;
}
main #menu::after {
  content: "";
  position: absolute;
  background: url(../Images/Menu/bg-menu-01.jpg) center center/cover;
  height: 620px;
  width: 100%;
  bottom: -330px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
main #reservation {
  display: grid;
  grid-template-columns: 30% 70%;
  max-width: 1050px;
  width: 95%;
  margin: 0 auto;
  background: black;
}
@media screen and (max-width: 850px) {
  main #reservation {
    display: block;
    padding-top: 1px;
    margin-bottom: 135px;
  }
}
main #reservation h4 {
  font-family: "allura", cursive;
  color: rgb(166, 114, 69);
  font-weight: 100;
  font-size: 2.5rem;
}
main #reservation img {
  margin: 35px 0;
}
main #reservation .time {
  text-align: center;
  margin: 25px;
  padding: 20px 0;
  border: 0.8px dashed rgb(238, 238, 238);
}
main #reservation .time h3 {
  font-family: "poppins", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: rgb(238, 238, 238);
  font-weight: 100;
  margin-top: -15px;
}
main #reservation .time h5 {
  font-family: "poppins", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
  margin-bottom: 15px;
}
main #reservation .time p {
  font-size: 0.8rem;
  color: rgb(238, 238, 238);
  margin-bottom: 35px;
}
main #reservation .booking {
  background: rgb(238, 238, 238);
  text-align: center;
  padding: 80px 0;
}
main #reservation .booking h3 {
  font-family: "poppins", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: -20px;
}
main #reservation .booking form {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 50% 50%;
  width: 530px;
  margin: 0 auto;
}
main #reservation .booking form input,
main #reservation .booking form select {
  background: none;
  border: none;
  border-bottom: 0.8px solid rgb(182, 182, 182);
  width: 160px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
main #reservation .booking form input::-moz-selection, main #reservation .booking form select::-moz-selection {
  border: none;
}
main #reservation .booking form input::selection,
main #reservation .booking form select::selection {
  border: none;
}
main #reservation .booking button {
  font-family: Arial;
  font-weight: 700;
  font-size: 0.8rem;
  color: rgb(238, 238, 238);
  background: rgb(33, 32, 30);
  padding: 15px 35px;
  border-radius: 30px;
  border: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
main #reservation .booking button:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-box-shadow: 0 0 20px 0 rgb(33, 32, 30);
          box-shadow: 0 0 20px 0 rgb(33, 32, 30);
}
main #event {
  margin: 120px auto 160px;
  max-width: 1050px;
  width: 95%;
  text-align: center;
}
@media screen and (max-width: 680px) {
  main #event {
    display: none;
  }
}
main #event h2 {
  font-family: "allura", cursive;
  color: rgb(166, 114, 69);
  font-weight: 100;
  font-weight: 100;
  font-size: 2.5rem;
}
main #event h3 {
  font-family: "poppins", serif;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(238, 238, 238);
  font-weight: 900;
  font-size: 2rem;
  margin-top: -12px;
  letter-spacing: 2px;
}
main #event img {
  margin: 40px 0 35px;
}
main #event .event-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
  gap: 20px;
  grid-template-areas: "NP T" "DJ T";
}
main #event .event-container .NP .left {
  background: url(../Images/Event/event-01.jpg) center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main #event .event-container .DJ {
  grid-area: DJ;
}
main #event .event-container .DJ .left {
  background: url(../Images/Event/event-02.jpg) center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main #event .event-container .NP,
main #event .event-container .DJ {
  display: grid;
  grid-template-columns: 40% 60%;
}
main #event .event-container .NP .left-container,
main #event .event-container .DJ .left-container {
  background: rgb(33, 32, 30);
  line-height: 22px;
  height: 85px;
  width: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main #event .event-container .NP .left-container h4,
main #event .event-container .DJ .left-container h4 {
  font-weight: 700;
  font-size: 1.7rem;
  color: rgb(238, 238, 238);
}
main #event .event-container .NP .left-container h6,
main #event .event-container .DJ .left-container h6 {
  font-weight: 400;
  font-size: 1rem;
  color: rgb(238, 238, 238);
}
main #event .event-container .NP .right,
main #event .event-container .DJ .right {
  background: rgb(238, 238, 238);
  text-align: left;
  padding: 35px 20px;
}
main #event .event-container .NP .right h5,
main #event .event-container .DJ .right h5 {
  padding-left: 10px;
}
main #event .event-container .NP .right p,
main #event .event-container .DJ .right p {
  margin: 20px 0 30px;
}
main #event .event-container .JN {
  grid-area: T;
  background: url(../Images/Event/event-03.jpg) center/cover;
  padding: 25px;
}
main #event .event-container .JN .container {
  background: rgb(238, 238, 238);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 12px;
  height: 100%;
}
main #event .event-container .JN .container .top {
  background: rgb(33, 32, 30);
  margin: 0 auto;
  height: 85px;
  width: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main #event .event-container .JN .container .top h4 {
  font-weight: 700;
  font-size: 1.7rem;
  color: rgb(238, 238, 238);
}
main #event .event-container .JN .container .top h6 {
  font-weight: 400;
  font-size: 1rem;
  color: rgb(238, 238, 238);
}
main #event .event-container .JN .container .bot {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main #event .event-container .JN .container .bot h5 {
  margin: 40px 0 20px;
  padding-left: 8px;
}
main #event .event-container .JN .container .bot span {
  display: block;
  margin-top: 25px;
  padding: 40px 0;
}
main #event .event-container .NP h5,
main #event .event-container .DJ h5,
main #event .event-container .JN h5 {
  font-weight: 500;
  font-size: 1.3rem;
  color: rgb(33, 32, 30);
}
main #event .event-container .NP p,
main #event .event-container .DJ p,
main #event .event-container .JN p {
  color: rgb(182, 182, 182);
  font-size: 0.875rem;
}
main #event .event-container .NP span,
main #event .event-container .DJ span,
main #event .event-container .JN span {
  text-transform: uppercase;
  color: rgb(33, 32, 30);
  font-size: 0.813rem;
  font-weight: 700;
}
main #final {
  position: relative;
  padding-bottom: 230px;
}
main #final .final-container {
  background: rgb(238, 238, 238);
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 65px 70px;
  text-align: center;
  position: relative;
  z-index: 100;
}
main #final .final-container p {
  line-height: 30px;
}
main #final .final-container p::before {
  content: "❝";
  font-size: 1.5rem;
}
main #final .final-container p::after {
  content: "❞";
  font-size: 1.5rem;
}
main #final .final-container h4 {
  font-weight: 100;
  font-size: 1.5rem;
  margin: 35px 0 15px;
}
main #final .final-container h5 {
  color: rgb(166, 114, 69);
  font-weight: 400;
  font-size: 1rem;
}
main #final::before {
  content: "";
  background: url(../Images/FinalSection/avatar-02.jpg) center/cover;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 50%;
  height: 60px;
  width: 60px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 1500px;
}
main #final::after {
  content: "";
  background: url(../Images/FinalSection/gmap.jpg) center/cover;
  height: 350px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer {
  background: url(../Images/Footer/bg-footer.jpg) center/cover;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 680px) {
  footer {
    background: rgb(33, 32, 30);
    display: block;
  }
}
footer .footer-left {
  padding: 60px 30px;
}
@media screen and (max-width: 680px) {
  footer .footer-left {
    display: none;
  }
}
footer .footer-left h4 {
  font-family: "allura", cursive;
  color: rgb(166, 114, 69);
  font-weight: 100;
  font-size: 40px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 20px;
}
footer .footer-left p {
  font-size: 0.875rem;
  line-height: 30px;
  color: rgb(182, 182, 182);
}
footer .footer-right {
  padding: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-right h5 {
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(238, 238, 238);
  margin-bottom: 15px;
  text-transform: uppercase;
}
footer .footer-right input {
  background: none;
  color: rgb(182, 182, 182);
  border: 0.8px solid rgba(166, 114, 69, 0.148);
  width: 250px;
  height: 30px;
  padding-left: 10px;
}
footer .footer-right .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 680px) {
  footer .footer-right .media {
    margin-top: 100px;
  }
}
footer .footer-right .media i {
  margin: 0 20px;
  color: #595959;
  font-size: 13px;
  font-weight: normal;
  line-height: 13px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .footer-right .media i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}/*# sourceMappingURL=Index.css.map */